# .gitignore
## Files we want to have locally, but do not want to push to remote

## Editor swap files
*~
*.swp
*.orig

## CMake and C/C++
**/build*/
CMakeLists.txt.user
*.cproject
*.project
tags

## doxygen
doc/html
doc/doxygen_sqlite3.db

## gitbook generated
/_book/
